* {
  background-color: rgba(100, 0, 0, 0.1);
}

@media screen and (min-width: 481px) {
  * {
    background-color: rgba(0, 100, 0, 0.1);
  }

  #all_recipes_container {
    display: flex;
  }
}


@media screen and (min-width: 1280px) {
  * {
    background-color: rgba(0, 0, 100, 0.1);
  }
}
